/*  education section */
/* SLIDE 29 */
.heading {
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
}
.education {
  padding: 100px 15px;
  background: var(--second-bg-color);
}
.education h2 {
  margin-bottom: 5rem;
}
.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50%- 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50%+30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50%+30px);
}
.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
  position: absolute;
  left: calc(50%-8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 30px 50px;
}
.timeline-content:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--main-color);
}
.timeline-content h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px;
  color: white;
}
.timeline-content p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 50px;
}

/* SLIDE 25 */
.services {
  background: var(--second-bg-color);
  color: black;
}
.services h2 {
  margin-bottom: 5rem;
  color: white;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.service-box {
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.service-box:hover {
  background: white;
  color: black;
  border: 5px solid var(--main-color);
  transform: scale(1.1);
}
/* SLIDE 26 */
.service-box .service-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: left;
  align-items: baseline;
  padding: 5rem 5rem;
}
.service-info h4 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 2;
}
.service-info p {
  font-size: 1.5rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}
/* SLIDE 29 */
/* portofolio */
.portfolio {
  background: var(--second-bg-color);
}
.portfolio-box {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio .heading {
  margin-bottom: 5rem;
}
.portfolio-box img {
  width: 15rem;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
/* SLIDE 30 */
.portfolio-item {
  min-height: 550px;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(238, 238, 238, 0.2);
  border-radius: 2rem;
  margin: 0 2rem;
  padding: 30px 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
  gap: 1.5rem;
  color: white;
}
.portfolio-item:hover {
  border: 3px solid var(--main-color);
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 0 50px var(--main-color);
}
.portfolio-item h2 {
  font-size: 2.8rem;
}
.portfolio-item p {
  font-size: 1.3rem;
}
